/build*
/external
/install
/vcpkg_installed
/package.json
/package-lock.json

.kate-swp
.cache
.idea
.sublime-workspace
.vscode
.qtcreator
.DS_Store
.marscode
CMakeUserPresets.json
CMakeLists.txt.user*
build-*
install_manifest.txt
__pycache__

.claude
.codex
CLAUDE.md
